@page "/about/"

<h3>About</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Application</th>
      <th scope="col">Pharmacy Shop</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Programming language</td>
      <td>C#</td>
      <td></td>
    </tr>
    <tr>
      <td>Framework</td>
      <td>.NET Core, Blazor</td>
      <td></td>
    </tr>
    <tr>
      <td>Version</td>
      <td>.NET 6, Blazor 6.0.4, Entity Framework 6.0.4</td>
      <td></td>
    </tr>
  </tbody>
</table>
